@import '~react-mdl/extra/material.css';
@import '~react-select/dist/react-select.css';
@import '~react-virtualized/styles.css';
@import '~react-virtualized-select/styles.css';
@import '~react-html5video/dist/ReactHtml5Video.css';
@import './fonts/roboto.global.css';
@import './fonts/material-icons.global.css';
@import './fonts/font-awesome.global.css';

html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

nav.mdl-navigation {
  background: transparent;
}

.mdl-card {
  background: rgba(0, 0, 0, 0.2);
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(66,66,66,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(189,189,189,0.2);
}

.background > span {
  margin: 0;
  padding: 0;
}

.fading-enter {
  opacity: 0.01;
}

.fading-enter.fading-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fading-leave {
  opacity: 1;
}

.fading-leave.fading-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fading-appear {
  opacity: 0.01;
}

.fading-appear.fading-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}